*
{
  box-sizing: border-box;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.listing {
  list-style-image: initial;
}

.listing {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Las tarjetas tendrán un ancho mínimo de 300px y se ajustarán automáticamente */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-items: center; /* Centrar horizontalmente las tarjetas dentro de las columnas */
  width: 90%; /* Ancho máximo del contenedor */
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.product
{
  width: 240px;
  position: relative;
}

.product a
{
  text-decoration: none;
}


.img-wrapper
{
  display: block;
  width: 100%;
  height: 240px;
  /* border: 1px solid #afafaf; */
  border-bottom: 0;
  overflow: hidden;
  /* text-align: center; */
}

.img-wrapper img
{

  margin: 0;
  padding: 0;
  /* aspect-ratio: 16 / 9; */
  overflow: hidden;
  
}


.carousel {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen a la tarjeta manteniendo su relación de aspecto */
}

.info
{
  width: 100%;
  background: #000;
  color: #fff;
  position: relative;
  padding: 40px 10px 20px 10px;
  text-align: center;
  
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  backface-visibility: hidden;
  transition-property: color,height;
  transition-duration: 0.3s,0.4s;
  transition-timing-function: ease-out;
  height: 83px;
}

.info:before
{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  transform: scaleY(0);
  transform-origin: 50%;
  transition: transform 0.3s ease-out;
}

.info:after
{
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: transform;
  left: calc(50% - 11px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: black transparent transparent transparent;
}

/* .product:hover .info
{
  height: 40px;
}

.product:hover .info:before
{
  transform: scaleY(0.7);
}

.product:hover .info:after
{
  visibility: visible;
  transform: translateY(10px);
}

.product:hover .title
{
  transform: translateY(-18px);
  font-weight: bold;
  color: #000;
} */


.title
{
  transition: transform 0.3s ease-out;
}
.title a
{
  color: inherit;
}

.price
{
  background: #e32d2c;
  position: absolute;
  font-size: 1.3em;
  padding: 4px 13px;
  top: -15px;
  right: 10px;
}

.price.sale
{
  background: #00ba2f;
}

.price.old
{
  font-size: 0.95em;
  padding: 4px 6px;
  text-decoration: line-through;
  top: -43px;
}

.actions-wrapper
{
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
}

.actions-wrapper *
{
  width: 50%;
  padding: 2px 0;
  text-align: center;
  color: #191919;
  font-size: 0.95em;
  font-weight: bold;
}
.actions-wrapper *:before
{
  font-family: "FontAwesome";
  margin-right: 8px;
}
.wishlist
{
  border-right: 1px solid #afafaf;
}
/* .wishlist:hover
{
  color: #e32d2c;
} */
.wishlist:before
{
  content: "\f08a";
}

.cart:hover
{
  color: #0a75b9;
}
.cart:before
{
  content: "\f07a";
}

.product:hover .actions-wrapper *
{
  visibility: visible;
}



/* Media Query para pantallas más pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .listing {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Cambia el ancho mínimo a 140px para pantallas más pequeñas */
  }

  .product
  {
    width: 160px;
    position: relative;
  }


}


.product .actions-wrapper *
{
  visibility: visible;
}


.product:hover .actions-wrapper *
{
  visibility: visible;
}

.note
{
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  font-size: 0.9em;
}

.note.on-sale
{
  background: #00ba2f;
  color: #fff;
}

.note.no-stock
{
  background: #191919;
  color: #fff;
}






  /* Estilos específicos para los elementos en este bloque de código */
.pagination-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    flex: 1;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Estilos para los botones NEXT y BACK */
.next-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.next-btn:hover {
    background-color: #1e9031;
    transform: scale(1.05);
}

.back-btn {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-btn:hover {
    background-color: #c12838;
    transform: scale(1.05);
}

.side-by-side-forms {
  display: flex;
  gap: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 7px;
  justify-content: center;
}










/* Slideshow container */


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


 /* Estilos para el contenedor */
.container_buttons_cart {
  display: flex;
  justify-content: space-between;
  
}

/* Estilos para los botones */
.button_buttons_cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e32d2c;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilos al pasar el mouse por encima */
.button_buttons_cart:hover {
  background-color: #51e32c;
}


.container_buttons_cart input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
.container_buttons_cart button{
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}